.tweet-card
    if tweet.retweeted.status 
        if isAuthenticated && tweet.author._id.toString() === currentUser._id.toString()
            p 
                i.fa-solid.fa.retweet 
                | You have retweeted :
        else
            p 
                i.fa-solid.fa.retweet 
                | #{tweet.author.fullname} has retweeted
    .tweet-card-author
        .tweet-card-author-data
            if tweet.retweeted.status
                img(src= tweet.retweeted.initialAuthor.avatar, alt="alt")
                a(href=`/user/${tweet.retweeted.initialAuthor.username}`)
                    p @#{tweet.retweeted.initialAuthor.username}
                p= moment(tweet.createdAt).locale('en').fromNow()
            else 
                img(src=tweet.author.avatar, alt="alt")
                a(href=`/user/${tweet.author.username}`)
                    p @#{tweet.author.username}
                p= moment(tweet.createdAt).locale('en').fromNow()
        if currentUser
            if tweet.author._id.toString() == currentUser._id.toString()
                .tweet-card-author-data
                    a(href=`/tweet/edit/${tweet._id}`)
                        i.fa-regular.fa-pen-to-square
                    a(href=`/tweet/delete/${tweet._id}`)
                        i.fa-regular.fa-trash-can
        
    .tweet-card-body= tweet.content
    .tweet-card-actions
        a(href= isAuthenticated ? `/tweet/${tweet._id}` : '/auth/signin/form')
            i.fa-comment(class= tweet.comments.length > 0 ? 'fa-solid' : 'fa-regular')
            span= tweet.comments.length
        i.fa-heart(class= tweet.nbLikes > 0 ? 'fa-solid' : 'fa-regular' tweetid = tweet._id authenticated= isAuthenticated ? 'yes' : 'no')
            span= tweet.nbLikes
        a(href=`/tweet/share/${tweet._id}`)
            i.fa-regular.fa-share-from-square 
